.venv/
matlab_venv/
me_596/
.vscode/

data/*
!data/act_model.pth
!data/real_training_loss.csv
!data/act_model_predictions.csv

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db
